{% extends 'base.html.twig' %}

{% block title %}Edit TypeContact{% endblock %}

{% block body %}
    <h1>Edit TypeContact</h1>

    {{ include('type_contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_contact_index') }}">back to list</a>

    {{ include('type_contact/_delete_form.html.twig') }}
{% endblock %}
